
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
  --logo-color: #000000;
  --main-normal-text-color: #212121;
  --contacts-header-color: #757575;
  --white-text: white;
  --border: #eeeeee;
  --header-bg: #2f303a;
  --accent-color: #2196f3;
  --background-color: #2f303a;
}
.container {
    
    width: 1200px;
    margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  width: 1600px;
  
}

.center {
  margin-left: auto;
  margin-right: auto;
}


.navigation-menu {
    display: flex;
    list-style: none;
    gap: 46px;
}
.navigation {
   padding: 20px 20px;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav {
    font-family: "Raleway";
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
}
.logo-nav {
    font-family: "Raleway";
}
.navigation h2 {
    font-size: 26px;
    padding-right: 90px;
    
}
.navigation a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
.contact-links-header a {
    font-size: 14px;
    line-height: 24px;
    color: var(--contacts-header-color);
}
.contact-links-header {
    display: flex;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    color: var(--contacts-header-color);
    padding-left: 372px;
    gap: 50px;
}

.navigation a:focus,
.navigation a:hover,
.footer-navigation a:focus,
.footer-navigation a:hover {
    color: var(--accent-color);
}
.footer-navigation {
    padding-bottom: 60px;
    background-color: var(--background-color);
}
.contact {
    font-size: 14px;
}
.contact a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: var(--contacts-header-color);
    display: block;
    padding-top: 9px;
}
.footer-navigation address {
    color: #ffffff;
    font-size: 14px;
}
.navigation-name {
    font-family: "Raleway";
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
}
.navigation-color {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    color: #ffffff;
}
.navigation-footer-header {
    color: #ffffff;
    font-weight: 700;
    font-size: 26px;
    padding-top: 60px;
    padding-bottom: 20px;
}
.logo-nav {
    font-weight: 700;
    font-size: 26px;
}
.address {
    font-style: normal;
}




/*agencja,portfolio,kontakt - header*/

.about-links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.about-links .about {
    display: flex;
    list-style: none;
    gap: 46px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-normal-text-color);
}
.about-links .about:hover,
.about-links .about:focus {
  color: var(--main-link-color);
}

/*kontakt links - mail and tel*/

.social-links a {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 500;
}

.primary-link {
  font-family: "Roboto";
  color: var(--main-normal-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.primary-link:hover {
  color: var(--main-link-color);
}

/*Text on main page and button under */

.main-header {
    display: block;
    margin: auto;
    background-color: var(--background-color);
}

.solution-main {
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 44px;
  text-align: center;
  color: var(--white-text);
}

.solutions {
  display: block;
    text-align: center;
    padding: 200px 452px 280px 452px;
  background-color: #2f303a;
}

.button-order {
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 41px 10px 42px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
}

.button-order:hover,
.button-order:focus {
  color: var(--white-text);
}

/* Lorem ipsum text */

.first-section {
    padding-top: 94px;
}
.description {
    display: flex;
    list-style: none;
    justify-content: center;
    color:#212121
}
.descripion-primary {
    display: flex;
}
.descripion-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.description-text {
    font-size: 14px;
    line-height: 1.71;
    padding-top:10px;
}
/*what we do - on main page*/

.second-section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.main-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    padding-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--main-normal-text-color);
}
.main-list {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
}

/*team on main page*/

.third-section {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    padding-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-normal-text-color);
}

.team-list{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.pictures {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pictures figcaption {text-align: center;
  padding: 30px ;}

.name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  padding-bottom: 10px;}

.what-do {
  font-weight: 500;
  color: #757575;;
}


/*buttons on top - portfolio page*/



.button-list {
  padding: 94px 0;
  display: flex;
  list-style: none;
    gap: 8px;
  justify-content: center;
}


.button-list > li > button {
  font-weight: 500;
  padding: 6px 22px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  color: var(--main-normal-text-color:);
  line-height: calc(26 / 16);
  letter-spacing: 00.03em;
  cursor: pointer;
}
.button-list > li > button:hover {
  background-color: #2196f3;
  color: var(--white-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list > li > button:focus {
  background-color: #2196f3;
  color: var(--white-text);
}

/*portfolio list - images*/

.photo-description{
display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.product-center {
  padding-bottom: 94px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin: 0 auto;
    margin-bottom:94px;
    
}
.product {
  background-color: #ffffff;
  padding-left: 0 15px;
  padding-right: 0 15px;
}
.portfolio-image {vertical-align: top;}

.product-name {
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  font-size: 18px;
}
.product-description {
  font-style: normal;
    font-size: 16px;
    color: var(--contacts-header-color);
}
